#writeup {
  margin-top: 20px;
    width: 100%;
}

#functionality {
    width: 50%;
    float: left;
    padding: 5px;
    margin-right: 15px;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: darkgray;
    shape-rendering: crispEdges;
}

.x.axis path {
    fill: none;
    stroke: darkgray;
    shape-rendering: crispEdges; 
    /*display: none;*/
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#listanchor {
  position: relative;
  float: left;
/*  top: 470px;
  left: 500px;*/
}

#plots {
    width: 1050px;
    margin: auto;
    float: left;
    height: 650px;
}

#top {
    float:left;
    max-height: 380px;
    width: 1000px;
    overflow-y: hidden;
}

.multiples {
    float: left;
    width: 1000px;
    height: 600px;
    margin-top: 50px;
    padding: 30px;
}

#countryName {
  position: relative;
  float: left;
/*  top: 470px;
  left: 500px;*/
}

#headline {
  position: absolute;
    float: left; 
    margin: 0 auto;
    display: block;
    height: auto !important;
    width: auto !important;
    max-width: 600px;

}
#lines {
    float: left; 
    margin: 0 auto;
    display: block;
    height: auto !important;
    width: auto !important;
    max-width: 400px;
}

.country {
    fill: gainsboro;
}

.countryCode {
    font: 12px sans-serif;
}

#miniHeader {
  text-align: left; 
  font-size: 16px; 
  font-weight: bold;
  display: block;
  margin-top: 50px;
}

.overlay {
  fill: none;
  pointer-events: all;
  cursor: ew-resize;
}

.label {
  fill: #777;
}

.year.label {
  font: 500 100px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;;
  fill: #ddd;
}

.year.label.active {
  fill: #aaa;
}