#map {
  position: relative;
}

svg#map {
  background: #deebf7;
  pointer-events: all;
  float: left;
}

.zone {
  stroke-width: .5px;
  stroke-linejoin: round;
  cursor: pointer;
}

.zoneTooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 3px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 12px;
  font-family: sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;  
}

.infoLabel {   
  position: relative;
  top: 0px;
  left: 20px;
  float: left;
  display: none;
  /*color: #666;*/
  background: #FFFFFF;    
  text-align: left;            
  padding: 2px;      
  font-size: 16px;
  font-weight: bold;
  pointer-events: none;       
}

.mapData {
  fill: #E6E6E6;
  stroke: darkgray;
  stroke-width: 1px;
}

.mapData:hover {
  fill: #66C2FF;
}

.focused {
  fill: #FF7519;
}